#titulo-sb{
    font-size: 27px;
    color: rgba(0, 0, 0,0.6);
    margin-left:4%;
    margin-top: 20px;
}
#qsb{
    width: 73%;
    margin: auto;
    margin-top: 10px;
    background: #ffffff;
    overflow: hidden;
    border-radius: 5px;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.3);
}
#qsb .sb{
    float: left;
    width: 45%;
    min-width: 348px;
    margin-top: 20px;
}
#qsb .sb header{
    text-align: center;
    font-size: 226%;
}
#qsb .sb header *{
    font-family: 'Caveat', cursive;
}
#qsb .sb header .tipografia .naranja{
    color: #ff6a13;
}
#qsb .sb p{
    text-align: justify;
    font-size: 125%;
    margin-left: 10px;
}
#qsb .img-e{
    width: 420px;
    height: 260px;
    float: right;
}
#qsb .img-e img{
    width: 100%;
    height: 100%;
}
@media screen and (max-width: 1198px){
    #qsb{
        width: 100%;
    }
    #qsb .img-e{
        width: 370px;
        height: 240px;
    }
}
@media screen and (max-width: 813px){
    #qsb .sb{
        float: none;
        min-width:0;
        width: 97%;
    }
    #qsb .img-e{
        width: 330px;
        height: 240px;
        float: none;
        margin: auto;
    }
}
#modalidad{
    width: 100%;
    border-radius: 5px;
    background: rgba(0, 0, 0,0.1);
    padding: 18px 0 18px 0;
    overflow: hidden;
}

#modalidad .mod{
    width: 282px;
    height: 380px;
    background: #fff;
    float: left;
    margin-left: 6%;
    border-radius: 5px;
    overflow: hidden;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.3);
}
@media screen and (max-width: 1170px){
    #modalidad .mod{
    margin-left: 4%;
    }
}
@media screen and (max-width: 1083px){
    #modalidad .mod{
        margin: 10px 0 0 8%;
        }
}
@media screen and (max-width: 760px){
    #modalidad .mod{
        margin: 10px 0 0 3%;
        }
}
@media screen and (max-width: 670px){
    #modalidad .mod{
        float: none;
        margin: auto;
        margin-top: 10px;
        }
}
#modalidad .mod-i{
    background: #353535;

}
#modalidad .mod header{
    color: #fff;
    font-size: 190%;
    margin-left: 7px;
}
#modalidad .mod .m-s{
    color:#ff6a13;
    font-size: 140%;
    font-weight: bold;
}
#modalidad .mod p{
    color: #fff;
    font-size: 140%;
    text-align: right;
    margin: 12px 8px 0 0;
}
#modalidad .mod .t-s{
    color: #000;
    font-size: 115%;
    font-weight: bold;
    text-align: left;
    margin-left: 7px;
}
#modalidad .mod p span{
    font-family: 'Caveat', cursive;
    font-size: 120%;

}
#modalidad .mod p span .color{
    color:#ff6a13;
}
#modalidad .mod .img-mod{
    width: 100%;
    height: 240px;
    float: left;
}
#modalidad .mod .img-mod img{
    width: 100%;
    height: 100%;
}
#modalidad .mod .saber-m{
    width: 100px;
    text-align: center;
    border-radius: 6px;
    background:#167cd0;
    margin: 6px 0 0 10px;

}
#modalidad .mod .saber-m a{
    text-decoration: none;
    color: #fff;

}