#titulo-sb{
    font-size: 27px;
    color: rgba(0, 0, 0,0.6);
    margin-left:4%;
    margin-top: 20px;
}
#qsb{
    width: 73%;
    margin: auto;
    margin-top: 10px;
    background: #ffffff;
    overflow: hidden;
    border-radius: 5px;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.3);
}
#qsb .sb{
    float: left;
    width: 45%;
    min-width: 348px;
    margin-top: 20px;
}
#qsb .sb header{
    text-align: center;
    font-size: 226%;
}
#qsb .sb header *{
    font-family: 'Caveat', cursive;
}
#qsb .sb header .tipografia .naranja{
    color: #ff6a13;
}
#qsb .sb p{
    text-align: justify;
    font-size: 125%;
    margin-left: 10px;
}
#qsb .img-e{
    width: 420px;
    height: 260px;
    float: right;
}
#qsb .img-e img{
    width: 100%;
    height: 100%;
}
@media screen and (max-width: 1175px){
    #qsb{
        width: 100%;
    }
    #qsb .img-e{
        width: 370px;
        height: 240px;
    }
}
@media screen and (max-width: 813px){
    #qsb .sb{
        float: none;
        min-width:0;
        width: 97%;
    }
    #qsb .img-e{
        width: 330px;
        height: 240px;
        float: none;
        margin: auto;
    }
}
#cm-sb{
    width: 73%;
    min-width: 312px;
    margin: auto;
    background: #353535;
    color: #fff;
    border-radius: 5px;
    margin-top: 10px;
    padding: 15px 0 15px 0;
}

