@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Comfortaa', cursive;
    user-select: none;
    outline: 0 none;

}
#user-i{
    display: none;
}

input:focus{
    outline: 0 none;
}
body{
    background: #ebebeb;
    padding-bottom: 30px;
    max-width: 1370px;
    margin: auto;
}
#header{
    padding: 20px 0px 90px 0px;
    margin:auto;
    width: 100%;
    background: #ff7033;
}
#header .user{
    width: 90%;
    margin: auto;
    color: #4e4d4d;
    border-bottom: 1px #ededed solid;
    padding-bottom: 10px;
}
#header div span{
    font-size: 130%;
    margin-right: 10px;
}

#header .img{
    width: 40%;
    min-width: 250px;
    margin: auto;
    margin-top: 20px;
    
    
}
#header .img img{
    width: 100%;
}
#header .texto{
    width: 70%;
    min-width: 270px;
    margin: auto;
    text-align: center;
    font-size: 140%;
    color: #4e4d4d;
}
#header .texto h3{
    color: #fff;
}
#contenido{
    width: 65%;
    margin: auto;
    position: sticky;
    margin-top: -80px;
    min-width: 305px;
}
#contenido form{
    width: 100%;
}
#contenido form .etapas{
    background: #fff;
    padding: 40px 10px 40px 10px; 
    border-radius: 5px;
    margin-top: 50px;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.3);
}

#contenido form .etapas label{
    font-size: 135%;
    font-weight: bold;
}
#contenido form .etapas p{
    margin: 10px 0 0 10px;
    color: rgba(0, 0, 0, 0.6);
    font-weight: bold;
    font-size: 90%;
}
#contenido form .etapas input{
    width: 70%;
    margin: 15px 0 0 2%;
    font-size: 117%;
    padding: 10px 0 10px 5px;
    
    min-width: 265px;
    border-style: none;
    border-left: 2px #0868b8 solid;
    background: rgba(0,0,0,0.1);
}
#contenido form .etapas .select{
    width: 40%;
    min-width:200px;
    margin: auto;
    margin-top: 25px;
    background: #0971c7;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.3);
}
#contenido form .etapas .select select{
    width: 95%;
    font-size: 125%;
    border-style: none;
    background: transparent;
    color: #fff;
    padding: 5px 0 5px 0px;
    cursor: pointer;
}
#contenido form .etapas div select option{
    color: #000;
    cursor: pointer;
}
#contenido form .etapas textarea{
    width: 80%;
    min-height: 200px;
    margin:25px 0 0 3%;
    padding: 15px 10px 15px 10px;
}
#cont-categoria button{
    margin-top: 10px;
}
#cont-categoria button{
    width: 100px;
    height: 100px;
    margin-left: 7%;
    border-style: none;
    background:#fff;
    color:#0971c7;
    cursor: pointer;
    padding:15px 0 15px 0;

    -moz-transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -ms-transition: all .2s ease;
    transition: all .2s ease;
    -o-transition: all .2s ease;
}
#cont-categoria button:hover{
    background: #0971c7;
    color: #fff;
}
#cont-categoria .seleccionado{
    background: #0971c7;
    color: #fff;
}
#cont-categoria button i{
    font-size: 250%;
}
#cont-categoria button li{
    width: 100%;
    list-style: none;
    font-size: 120%;
    margin-top: 15px;
}
#btn-radio{
    display: none;
}
#btn-AGP{
    cursor: pointer;
}