    #header-menu .menu_bar {
		display:block;
		width:43px;
		height: 42px;
		position: absolute;
		right: 1%;
		top:20px;
	}
 
	#header-menu .menu_bar .bt-menu {
		display: block;
		color: #fff;
		overflow: hidden;
		font-size: 25px;
		font-weight: bold;
		text-decoration: none;
	}
 
	#header-menu .menu_bar span {
		float: right;
		font-size: 40px;
	}
 
    #header-menu nav {
		width: 260px;
		height: 100%;
		position: fixed;
		right:100%;
		margin: 0;
		margin-top: -8px;
		background: #2d3e58;
		z-index: 9;
		border-right:1px #fff solid;
	}
	#header-menu nav .saludo{
		margin-left: 10px;
		color: #5a5a5a;
		font-weight: bold;
		font-size: 128%;
		margin-top: 40px;
	}
	#header-menu nav .saludo span{
		font-size: 175%;
	}
	#header-menu nav ul{
		margin-top: 50px;
	}
    #header-menu nav ul li {
		width: 100%;
		display: inline-block;
		font-size: 130%;
	}
	
    #header-menu nav ul li a {
		display: block;
		text-decoration: none;
		color: #fff;
		text-align: left;
		padding:10px 0 10px 8px;
		background:rgba(255, 255, 255, 0.1);

	-moz-transition: all .6s ease;
    -webkit-transition: all .6s ease;
    -ms-transition: all .6s ease;
    transition: all .6s ease;
    -o-transition: all .6s ease;
	}
	#header-menu nav ul li a:hover {
		background:rgba(255, 255, 255, 0.4);
		padding-left: 12px;
		
	}
    