    #header-menu .menu_bar {
		display:block;
		width:43px;
		height: 42px;
		position: absolute;
		right: 1%;
		top:20px;
	}
 
	#header-menu .menu_bar .bt-menu {
		display: block;
		color: #fff;
		overflow: hidden;
		font-size: 25px;
		font-weight: bold;
		text-decoration: none;
	}
 
	#header-menu .menu_bar span {
		float: right;
		font-size: 40px;
	}
 
    #header-menu nav {
		width: 260px;
		height: 100%;
		position: fixed;
		right:100%;
		margin: 0;
		margin-top: -8px;
		overflow: scroll;
		background: #ff6a13;
		z-index: 9;
	}
	#header-menu nav .saludo{
		margin-left: 10px;
		color: #5a5a5a;
		font-weight: bold;
		font-size: 128%;
		margin-top: 40px;
	}
	#header-menu nav .saludo span{
		font-size: 175%;
	}
	#header-menu nav ul{
		margin-top: 50px;
	}
    #header-menu nav ul li {
		width: 100%;
		display: inline-block;
		padding-top: 10px;
		padding-bottom: 10px;
		margin-left: 0px;
		font-size: 140%;
	}
	
    #header-menu nav ul li a {
		display: block;
		margin-left: 5px;
		text-decoration: none;
		color: #fff;
		text-align: center;
		-moz-transition: all .9s ease;
    -webkit-transition: all .9s ease;
    -ms-transition: all .9s ease;
    transition: all .9s ease;
    -o-transition: all .9s ease;
	}
	#header-menu nav ul li a:hover {
		color: #fff;
		border-bottom: 1px #fff solid;
	}
    #header-menu nav ul li:hover .children {
		display: none;
	}
 
    #header-menu nav ul li .children {
		width: 100%;
		position: relative;
	}
 
    #header-menu nav ul li .children li a {
		margin-left:20px;
	}
 
    #header-menu nav ul li .caret {
		float: right;
	}