#header{
	background:#ff6a13;
	overflow: hidden;
	padding: 7px 0px 2px 0px;
}
#header .logo{
	width: 70px;
	margin-left: 7%;
	float: left;
}
#header .logo img{
	width: 100%;
}
#header .header-info{
	float: left;
	width: 45%;
	min-width: 406px;
	margin-left: 5%;
}
@media screen and (max-width: 600px){
	#header .header-info{
		min-width: 300px;
	}
}
@media screen and (max-width: 490px){
	#header .header-info{
		width: 60%;
		min-width: 0px;
		margin-left: 2%;
	}
	#header .logo{
		margin-left: 1%;
	}
}
#header .header-info .buscador-h{
	background: #fff;
	width: 95%;
	height: 37px;
	margin:auto;
	border-radius: 2px;

	-webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.3);
}
#header .header-info .buscador-h form{
	overflow: hidden;
	width:100%;
	height: 100%;
}
#header .header-info .buscador-h form div{
	float: left;
}
#header .header-info .buscador-h form .txt{
	width: 90%;
	height: 100%;
}
#header .header-info .buscador-h form .txt input{
	width: 100%;
	height: 100%;
	border-style: none;
	padding-left:5px;
	border: none;
	font-size: 115%;
}
#header .header-info .buscador-h form .txt input::placeholder{
	 color:#afadad; 
}
#header .header-info .buscador-h form .txt input :-ms-input-placeholder {
	color:#afadad; 
}
#header .header-info .buscador-h form .txt input::-webkit-input-placeholder{
	color:#afadad; 
}#header .header-info .buscador-h form .txt input::-moz-placeholder{
	color:#afadad; 
}
#header .header-info .buscador-h form .btn{
	width: 9%;
	height: 60%;
	margin-top: 5px;
	padding-top: 3px;
	text-align: center;
	color:#ccc;
	border-left: 1px #cccccc solid;
	-moz-transition: all .45s ease;
    -webkit-transition: all .45s ease;
    -ms-transition: all .45s ease;
    transition: all .45s ease;
    -o-transition: all .45s ease;
}
@media screen and (max-width: 490px){
#header .header-info .buscador-h form .btn{
	width: 20%;
}
#header .header-info .buscador-h form .txt{
	width: 79%;
}
}
#header .header-info .buscador-h form .btn:hover{
	color: #0b82e4;
	background: #f0f0f0;
	border-radius: 5px;
}
#header .header-info .buscador-h form .btn input{
	width: 100%;
	height: 100%;
	border-style: none;
	cursor: pointer;
	background:none;
	position: relative;
	top: -15px;
}
#header .header-info .h-subastas{
	width: 100%;
	min-width: 532px;
	margin-top:8px;
	overflow: hidden;
}
#header .header-info .h-subastas a{
	text-decoration: none;
	color: #fff;
}
#header .header-info .h-subastas a div{
	width: 123px;
	float: left;
	margin-left:10px;
	text-align: center;
}
@media screen and (max-width: 780px){
	#header .header-info .h-subastas{
		min-width: 0px;
	}
	#header .header-info .h-subastas a .primero{
		display: none;
	}
}
@media screen and (max-width: 458px){
	#header .header-info .h-subastas a .segundo{
		display: none;
	}
}