@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Jost', sans-serif;
    outline: 0;
}

body{
    background: #ff7033;
    max-width: 1370px;

}
#contenido{
    width: 90%;
    margin: auto;
}
#contenido .registro{
    width: 419px;
    margin: auto;
    background: #fff;
    padding: 50px 0 50px 0;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.3);
}
#contenido .registro a{
    text-decoration: none;
}
#contenido .registro .principal{
    width: 65%;
    min-width: 280px;
    margin: auto;
    overflow: hidden;
}
#contenido .registro .principal .logo{
    width: 88px;
    height: 108px;
    float: left;
}
#contenido .registro .principal .logo img{
    width: 100%;
    height: 100%;
}
#contenido .registro .principal .nombre{
    float: right;
    font-size: 300%;
    font-family: 'Caveat', cursive;
    margin: 27px 7px 0 0;
    color: #000;
}
#contenido .registro .principal .nombre span{
    color: #ff7033;
    font-size: 110%;
    font-family: 'Caveat', cursive;

}
#contenido .registro p{
    font-size: 130%;
    text-align: center;
}
#contenido .registro form{
    width: 80%;
    margin: auto;
    margin-top: 15px;
}

#contenido>.registro>form>div>input{
    width: 95%;
    font-size: 110%;
    padding: 3px 0 6px 3px;
    border-style: none;
    margin-top: 15px;
    border-radius: 0;
    border-bottom: 1px rgba(0,0,0,0.2) solid;

    -moz-transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -ms-transition: all .2s ease;
    transition: all .2s ease;
    -o-transition: all .2s ease;
}
#contenido .registro form div .txt:hover{
    background: rgba(0,0,0,0.05);
    border-bottom: 1px #0868b8 solid;
}
#contenido .registro form .btn-r{
    width: 100px;
    margin: auto;
}
#contenido .registro form .btn-r input{
    width: 100%;
    border: none;
    background:#4caf50 ;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
}
#contenido .registro form .btn-r input:hover{
    background:#419944;
}
@media screen and (max-width: 470px){
    #contenido{
        width: 100%;
    }
    #contenido .registro{
        width: 90%;
    }
    #contenido>.registro>.principal>.logo{
        width: 88px;
        float: none;
        margin: auto;
    }
    #contenido .registro .principal .nombre{
        float:none;
        margin: auto;
        margin-top: 27px;
        text-align: center;
    }
}