
#usuario{
    width: 80%;
    min-width: 309px;
    margin: auto;
    margin-top: 90px;
    background:rgba(0, 0,0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.3);
}
#usuario .info-usuario{
    width: 40%;
    min-width: 292px;
    float: left;
    border:1px rgba(0, 0,0, 0.2) solid;
    border-radius: 5px;
    padding: 10px 0 0 0;
    background: #2d3e58;
}
#usuario .info-usuario .f-perfil{
    width: 130px;
    height: 130px;
    margin:auto;

}
#usuario .info-usuario .f-perfil img{
    width: 100%;
    height: 100%;
}
#usuario .info-usuario .n-usuario{
    text-align: center;
    font-size: 137%;
    font-weight: bold;
    margin-top: 10px;
    color: rgba(255, 255,255, 0.7);
}
#usuario .info-usuario .info-envio p{
    font-weight: bold;
    color: rgba(255, 255,255, 0.7);
    margin:10px 0 0 10px;

}
#usuario .info-usuario .info-envio .txt-i{
    width: 85%;
    margin: auto;
    border:1px rgba(255, 255,255, 0.4) solid;
    border-radius: 5px;
    margin-top: 8px;
    font-weight: bold;
    color: rgba(255, 255,255, 0.7);
    padding: 5px 0 5px 5px;
    }
#usuario .info-usuario .btn-editar{
    width: 100%;
    color: #fff;
    background: #167cd0;
    text-align: center;
    margin-top: 10px;
    font-size: 120%;
    cursor: pointer;
    border-radius: 4px;
}
#usuario .info{
    float: right;
    width: 50%;
    min-width: 295px;
    margin-right: 4%;
}
#usuario .info .su-coins{
    width: 70%;
    background: #fff;
    margin: auto;
    margin-top: 10px;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.3);
    border-radius: 5px;

}
#usuario .info .su-coins div{
    width: 90%;
    margin: auto;
    margin-top: 3px;
    border-radius: 5px;
}
#usuario .info .su-coins header{
    text-align: center;
    font-size: 150%;
    color:#167cd0;
    font-weight: bold;
}
#usuario .info .su-coins a{
    text-decoration: none;

}
#usuario .info .su-coins p{
    text-align: center;
    font-size: 180%;
    font-weight: bold;
}
#usuario .info .su-coins .mas-coins{
    width: 100%;
    color: #fff;
    text-align: center;
    background:#167cd0;
    font-size: 120%;
}
@media screen and (max-width: 942px){
    #usuario{
        width: 100%;
    }
}
@media screen and (max-width: 757px){
    #usuario .info{
        margin-right: 1%;
    }
}
@media screen and (max-width: 733px){
    #usuario .info-usuario{
        float: none;
        margin: auto;
    }
    #usuario .info{
        float: none;
        margin: auto;
    }
    #usuario .info .su-coins{
        width: 100%;
    }
}