@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
#ruta{
    width: 100%;
    color: #fff;
    font-family: 'Comfortaa', cursive;
    background: #2d3e58;
    padding: 25px 0 60px 0;
}
#ruta .linea{
    width: 97%;
    font-size: 85%;
    margin: auto;
}
#ruta  span{
    margin: 0 7px 0 7px;
    font-size: 120%;
    color: #167cd0;

}
#ruta .nombre{
    margin: 20px 0 0 20px;
    font-size: 180%;
}
#cont-producto{
    width: 85%;
    margin: auto;
    margin-top: -50px;
    border-radius: 5px;
    border:1px transparent solid;
    background: #fff;
    padding-bottom: 30px;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.3);
}
#cont-producto .producto-p{
    width: 85%;
    margin: auto;
    margin-top: 40px;
    overflow: hidden;
    border-bottom: 1px rgba(0, 0, 0, 0.2) solid;
    padding-bottom: 20px;
}
#cont-producto .producto-p .img-p{
        width: 330px;
        height: 300px;
        float: left;
}
#cont-producto .producto-p .img-p img{
    width: 100%;
    height: 100%;
    border-radius: 7px;
}
#cont-producto .producto-p .info-p{
    width:330px;
    float: right;
    border: 1px rgba(0, 0, 0, 0.2) solid;
    border-radius: 7px;
}
#cont-producto .producto-p .info-p ul{
    list-style: none;
    font-family: 'Comfortaa', cursive;
    font-weight: bolder;
    margin:20px 0 0 10px;
    color: rgba(0, 0, 0, 0.7);

}
#cont-producto .producto-p .info-p .precio{
    font-size: 150%;
    color: rgba(0, 0, 0, 1);
    margin-bottom: 10px;
}
@media screen and (max-width: 1050px){
    #cont-producto .producto-p .img-p{
        width: 280px;
        height: 250px;
    }
    #cont-producto .producto-p .info-p{
        width:280px;
    }
}
@media screen and (max-width: 895px){
    #cont-producto .producto-p .img-p{
        width: 340px;
        height: 310px;
        float: none;
        margin: auto;
    }
    #cont-producto .producto-p .info-p{
        width:80%;
        min-width: 240px;
        float: none;
        margin: auto;
        margin-top: 10px;
    }
}
@media screen and (max-width: 538px){
    #cont-producto{
        width: 95%;
    }
    #cont-producto .producto-p .img-p{
        width: 245px;
        height: 215px;
    }
}
#cont-producto .tradicional{
    width: 100%;
    margin: auto;
}
#cont-producto .tradcional header{
    text-align: center;
    font-size: 160%;
}
#cont-producto .tradcional header span{
    font-family: 'Caveat', cursive;
}
#cont-producto .tradcional header .color{
    color: #ff6a13;
}
#cont-producto .tradcional .mejor-precio{
    text-align: center;
    font-size: 200%;
    font-weight: bolder;
}
#cont-producto .tradcional form{
    width: 200px;
    margin: auto;
    border-radius: 8px;
    background: #fff;
    padding: 5px 0 5px 0;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.3);
}
#cont-producto .tradcional form span{
    font-size: 130%;
    margin-left:4px;
}
#cont-producto .tradcional form span input{
    width:170px;
    height:33px;
    font-size:120%;
    border-style: none;
    margin-left: 4px;
    background: rgba(0, 0, 0, 0.1);
}
#cont-producto .tradcional form button{
    width: 125px;
    height:43px;
    color:#fff;
    background:#ff6a13;
    border-style: none;
    font-size: 120%;
    text-align: center;
    margin:8px 0 0 20%;
    cursor: pointer;
}
#cont-producto .tradcional form button:hover{
    background:#f36513;
}
#cont-producto .tradcional .descripcion .t-caracteristicas{
    width: 85%;
    margin: auto;
    margin-top: 20px;
    font-size: 200%;
    color: rgba(0, 0, 0, 0.6);
    font-weight: bolder;
    border-top:1px rgba(0, 0, 0, 0.2) solid;
    padding: 10px 0 0 8px;
}
#cont-producto .tradcional .descripcion .mas-caract{
    width: 70%;
    margin-left: 10px;
    color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 5px;
    text-align: justify;
    font-size: 128%;
}