@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
#ruta{
    width: 85%;
    margin: auto;
<<<<<<< Updated upstream
    font-size: 90%;
    color: #000;
    margin-top: 25px;
    font-family: 'Comfortaa', cursive;

=======
    text-align: right;
>>>>>>> Stashed changes
}
#ruta  span{
    margin: 0 7px 0 7px;
    font-size: 120%;
    color: #167cd0;

}
#cont-producto{
    width: 85%;
    margin: auto;
    margin-top: 25px;
    border-radius: 5px;
    border:1px rgba(0, 0, 0, 0.2) solid;
    background: #fff;
    padding-bottom: 30px;
}
#cont-producto .producto-p{
    width: 90%;
    margin: auto;
    margin-top: 40px;
    overflow: hidden;
    border-bottom: 1px rgba(0, 0, 0, 0.2) solid;
    padding-bottom: 20px;
}

#cont-producto .producto-p .img-p{
        width:450px;
        height:450px;
        float: left;
        margin-left: 14%;
        margin-top: 30px;
}
#cont-producto .producto-p .img-p img{
    width: 100%;
    height: 100%;
    border-radius: 7px;
}
@media screen and (max-width: 1159px){
    #cont-producto .producto-p .img-p{
        width:410px;
        height:410px;
        margin-left: 7%;
    }
}
@media screen and (max-width: 1075px){
    #cont-producto .producto-p .img-p{
        margin-left: 2%;
    }
}
@media screen and (max-width: 955px){
    #cont-producto .producto-p .img-p{
        width:300px;
        height:300px;
        margin-left: 1%;
    }
}

#cont-producto .producto-p .info-p{
    width:330px;
    float: right;
    border: 1px rgba(0, 0, 0, 0.2) solid;
    border-radius: 7px;
    padding: 20px 0 10px 0;
    overflow: hidden;
}
#cont-producto .producto-p .info-p ul{
    list-style: none;
    font-family: 'Comfortaa', cursive;
    font-weight: bolder;
    color: rgba(0, 0, 0, 0.7);

}
<<<<<<< Updated upstream
#cont-producto .producto-p .info-p .nombre{
    font-size: 140%;
    margin-bottom: 15px;
    color: rgba(0, 0, 0, 0.8);
}
#cont-producto .producto-p .info-p .precio{
    font-size: 150%;
    color: rgba(0, 0, 0, 1);
    margin-bottom: 10px;
}
@media screen and (max-width: 1030px){
    #cont-producto .producto-p .img-p{
        width: 280px;
        height: 250px;
    }
    #cont-producto .producto-p .info-p{
        width:280px;
    }
}
@media screen and (max-width: 884px){
    #cont-producto .producto-p .img-p{
        width: 340px;
        height: 310px;
        float: none;
        margin: auto;
    }
    #cont-producto .producto-p .info-p{
        width:80%;
        min-width: 240px;
        float: none;
        margin: auto;
        margin-top: 10px;
    }
}
@media screen and (max-width: 538px){
    #cont-producto{
        width: 95%;
    }
    #cont-producto .producto-p .img-p{
        width: 245px;
        height: 215px;
    }
=======
.p-i, .precio{
    margin-left: 10px;
}
#cont-producto .producto-p .info-p ul .p-i{
    font-size: 180%;
}
#cont-producto .producto-p .info-p ul .precio{
    font-size: 210%;
    color:#4e54c8;
    margin-bottom: 10px;
}
#cont-producto .producto-p .info-p ul .info-c{
    width: 90%;
    margin: auto;
    background:#f3f5f9;
    margin-top: 7px;
    padding: 7px 4px 7px 4px;
    border-radius: 5px;
>>>>>>> Stashed changes
}
#cont-producto .producto-p .info-p .tradicional{
    width: 100%;
    margin-top: 20px;
    border-top:  1px rgba(0, 0, 0, 0.2) solid;
    border-bottom:  1px rgba(0, 0, 0, 0.2) solid;
    padding: 7px 0 7px 0;
}
.tradicional  header,p{
    text-align: center;
}
.tradicional  header span{
    color: rgba(0, 0, 0, 0.4);
}
.tradicional  header{
    font-size: 130%;
}
<<<<<<< Updated upstream
#cont-producto .tradcional p{
    text-align: center;
    font-size: 200%;
    font-weight: bolder;
=======
.tradicional p{
    font-size: 160%;
    font-weight: bold;
    color: red;
}
.tradicional form span, input,button{
    font-size: 125%;
    margin-left: 2px;
}
.tradicional form input{
    width: 45%;
    padding: 4px 0 4px 0;
    background: #f3f5f9;
    border:1px rgba(0, 0, 0, 0.2) solid;   
}
.tradicional form button{
    padding: 5px 3px 5px 3px;
    background: #00a650;
    border-style: none;
    color: #fff;
    cursor: pointer;
>>>>>>> Stashed changes
}
.tradicional form button:hover{
    background: #008f45;

}
.info-pagos p{
    padding: 3px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
}
.info-pagos i{
    text-align: center;
    width: 100%;
    font-size: 50px;
    color: #0f5894;
}
@media screen and (max-width: 810px){
    #cont-producto .producto-p .img-p{
        float: none;
        margin: auto;
    }
    #cont-producto .producto-p .info-p{
        width: 80%;
        min-width: 270px;
        float: none;
        margin: auto;
        margin-top: 20px;
    }
}
<<<<<<< Updated upstream
#cont-producto .tradcional .descripcion{
    width: 70%;
    margin: 30px 0 0 4%;
    font-size: 125%;
    text-align: justify;
    color: rgba(0, 0, 0, 0.6);
    font-weight: bolder;
}
=======
@media screen and (max-width: 368px){
        #cont-producto .producto-p .img-p{
            width:265px;
            height:265px;
        }
}

>>>>>>> Stashed changes
