#sb-cont{
    width: 948px;
    background: rgba(0, 0, 0, 0.1);
    padding: 10px 0px 15px 0px;
    margin-top: 15px;
    border-radius: 5px;
    overflow: hidden;
}
@media screen and (max-width: 1053px){
    #sb-cont{
        width: 100%;
    }
}
#sb-cont a{
    text-decoration: none;
    color: #000;
}
#sb-cont .carta{
    width: 240px;
    height: 365px;
    float: left;
    margin-left: 2%;
    background: #fff;
    padding: 0px 0px 15px 0px;
    border-radius: 5px;
    border: 1px rgba(0, 0, 0, 0.2) solid;
    margin-top: 10px;
}
#sb-cont .carta .img{
    width: 100%;
    height: 240px;
}
#sb-cont .carta .img img{
    width: 100%;
    height: 100%;
}
#sb-cont .carta h4,h3{
    margin-left: 9px;
    
}
#sb-cont .carta h4{
    color:#c70404;
}
@media screen and (max-width: 880px){
    #sb-cont .carta{
        margin-left: 4%;
    }
}
@media screen and (max-width: 615px){
    #sb-cont .carta{
        width: 200px;
        height: 325px;
        margin-left: 5%;

    }
    #sb-cont .carta .img{
        height: 200px;
    }
}
@media screen and (max-width: 530px){
    #sb-cont .carta{
        width: 180px;
        height: 305px;
        margin-left: 3%;

    }
    #sb-cont .carta .img{
        height: 180px;
    }
}
@media screen and (max-width: 530px){
    #sb-cont .carta{
        width: 155px;
        height: 280px;
        margin-left: 3%;

    }
    #sb-cont .carta .img{
        height: 155px;
    }
}
@media screen and (max-width: 353px){
    #sb-cont .carta{
        width: 250px;
        height: 375px;
        float: none;
        margin: auto;
    }
    #sb-cont .carta .img{
        height: 250px;
    }
}