#header-menu{
    margin-top:10px;
}
#header-menu .menu_bar {
	display:none;
}
 
 
#header-menu nav {
	background:transparent;
	z-index:1000;
	max-width: 1000px;
    width:95%;
}
#movil{
    display: none;
}  
#header-menu nav ul {
    list-style:none;
    overflow: hidden;
}

#header-menu nav ul li {
    position: relative;
	float: left;
	margin-left: 6px;
	padding-left: 2px;
	padding-right: 2px;
}


 
#header-menu nav ul li a {
	color:#fff;
	display:block;
	text-decoration:none;
}
 #header-menu nav ul li a:hover {
	color: #000;
	border-bottom: 1px #fff solid;
}
#header-menu nav ul li a span {
	margin-right:10px;
}
 
#header-menu nav ul li:hover .children {
	display:block;
}
 
#header-menu nav ul li .children {
	display: none;
	background:#011826;
	position: absolute;
	width: 150%;
	z-index:1000;
}
 
#header-menu nav ul li .children li {
	display:block;
	overflow: hidden;
	border-bottom: 1px solid rgba(255,255,255,.5);
}
 
#header-menu nav ul li .children li a {
	display: block;
}
 
#header-menu nav ul li .children li a span {
	float: right;
	position: relative;
	top:3px;
	margin-right:0;
	margin-left:10px;
}
 
#header-menu nav ul li .caret {
	position: relative;
	top:3px;
	margin-left:10px;
	margin-right:0px;
}
 
@media screen and (max-width: 800px) {
 
    #header-menu .menu_bar {
		display:block;
		width:43px;
		height: 42px;
		position: fixed;
		right: 3%;
		top:20px;
	}
 
	#header-menu .menu_bar .bt-menu {
		display: block;
		color: #fff;
		overflow: hidden;
		font-size: 25px;
		font-weight: bold;
		text-decoration: none;
	}
 
	#header-menu .menu_bar span {
		float: right;
		font-size: 40px;
	}
 
    #header-menu nav {
		width: 80%;
		height: calc(100% - 80px);
		position: fixed;
		right:100%;
		margin: 0;
		margin-top: 22px;
		overflow: scroll;
		background: #082e4e;
	}
 
    #header-menu nav ul li {
		display: inline;
		border-bottom:1px solid rgba(255,255,255,.5);
		padding-top: 5px;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 3px;
		font-size: 160%;
	}
 
    #header-menu nav ul li a {
		display: block;
	}
 
    #header-menu nav ul li:hover .children {
		display: none;
	}
 
    #header-menu nav ul li .children {
		width: 100%;
		position: relative;
	}
 
    #header-menu nav ul li .children li a {
		margin-left:20px;
	}
 
    #header-menu nav ul li .caret {
		float: right;
	}
}
@media screen and (max-width: 500px) {

}