{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/registro.css' %}">
    <title>Entrada a Su-basta</title>
</head>
<body>
    <section id="contenido">
    <div class="registro">
        <a href="{% url 'Index' %}"><div class="principal">
            <div class="logo">
                <img src="{% static 'img/logo-1.png' %}" alt="">
            </div>
            <div class="nombre">Su-<span>Basta</span></div>
        </div></a>
        <p>Registrate, abre tu cuenta con nosotros<br>
            Es gratis, fácil y rapido.
        </p>
        <form method="POST">
            {% csrf_token %}
            <div>{{form.nombre}}</div>
            <div>{{form.apellido}}</div>
            <div>{{form.username}}</div>
            <div>{{form.password}}</div>
            <br>
            <h4>Fecha de nacimiento</h4>
            <div>{{form.fecha}}</div>
            <div class="btn-r"><input type="submit" value="Registrar"></div><br>
        <a href="{% url 'Login' %}">Ingresa a Su-Basta</a>

        </form>
    </div>
    
    </section>
</body>
</html>