{% extends "base.html" %}
{% load static %}
{% block css%}
<!--- Css -->
<link rel="stylesheet" href="{% static 'css/Producto.css' %}">
{% endblock %}
{% block js %}
<!--- Js -->

{% endblock %}
{% block content %}
<!--- Contenido cambiante -->
<section id="contenido">
<div id="producto">
   <div class="info">
        <div class="img"><img src="{% static 'img/vocho.jpg'%}" alt=""></div>
        <div class="detalles">
            <h1>Vocho volkswagen 1990</h1>
            <p class="fecha">Fecha de publicación: 14/07/2020</p>
            <h2>Precio: $ 7000</h2>
            <p>Categoria: Autos</p>
            <p>Condición: Usado</p>
            <p>Marca: volkswagen</p>
            <p>Modelo: 1990</p>
            <p>Tamaño: ************</p>
        </div>
   </div>
   <div class="oferta">
       <div class="nueva">
           <p>Mejor <span>oferta</span></p>
           <p>$ 7500</p>
       </div>
       <button>Mejorar oferta</button>
   </div>
   <div class="detalles">
       <h1>Características</h1>
       <p>jsakkajs</p>
   </div>
</div>

</section>
{% endblock %}
