{% extends "base.html" %}
{% load static %}
<!-- -------------------------------------- css cambiantes-->	
{% block css%}
<link rel="stylesheet" href="{% static 'css/categorias.css' %}">
<link rel="stylesheet" href="{% static 'css/subasta.css' %}">
{% endblock %}
<!-- -------------------------------------- css cambiantes-->	

{% block content %}

    <section id="contenido">
        {% include "secciones/categorias.html" %}
        <div id="simbologia">
            <div class="cont"><div class="icon fas fa-gavel"></div>Subasta en juego</div>
            <div class="cont"><div class="icon far fa-clock"></div>Subasta programada</div>

        </div>
        <section id="sb-cont">
            <div class="carta">
                <div class="img">
                    <img src="{% static 'img/vocho.jpg' %}" alt="">
                </div>
                <h3>vocho volkswagen</h3>
                <h4>$10,000.00</h4>

            </div>
            <div class="carta">
                <div class="img">
                    <img src="{% static 'img/vocho.jpg' %}" alt="">
                </div>
                <h3>vocho volkswagen</h3>
                <h4>$10,000.00</h4>

            </div>
            <div class="carta">
                <div class="img">
                    <img src="{% static 'img/vocho.jpg' %}" alt="">
                </div>
                <h3>vocho volkswagen</h3>
                <h4>$10,000.00</h4>
            </div>
            <div class="carta">
                <div class="img">
                    <img src="{% static 'img/vocho.jpg' %}" alt="">
                </div>
                <h3>vocho volkswagen</h3>
                <strong><h4>$10,000.00</h4></strong>

            </div>
        </section>
    </section>
{% endblock %}
