{% extends "base.html" %}
{% load static %}
<!-- -------------------------------------- css cambiantes-->	
{% block css%}
<link rel="stylesheet" href="{% static 'css/categorias.css' %}">
<link rel="stylesheet" href="{% static 'css/subasta.css' %}">
{% endblock %}
<!-- -------------------------------------- css cambiantes-->	

{% block content %}

    <section id="contenido">
        {% include "secciones/categorias.html" %}
        <div id="simbologia">
            <div class="cont"><div class="icon fas fa-gavel"></div>Subasta en juego</div>
            <div class="cont"><div class="icon far fa-clock"></div>Subasta programada</div>

        </div>
        <section id="sb-cont">
            {% if object_list %}
                {% for producto in object_list %}
                    {% if producto.tipoSubasta == "Inversa"%}
            <div class="carta">
                <div class="img">
                    <img src="{{ producto.fotoProd.url }}" alt="">
                </div>
                <h3>{{producto.nombreP}}</h3>
                <h4>${{producto.precio}}</h4>

            </div>
                    {% endif %}
                {% endfor %}
            {% else %}
            <div class="carta">
                <h3>Sin Registros</h3>
                <h4>----------</h4>

            </div> 
            {% endif %}
        </section>
    </section>
{% endblock %}
