<!DOCTYPE html>
<html lang="en">
<head>
	{% load static %}
	<meta charset="UTF-8">
<!----------------------------- fonts -------------------------->	
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<!----------------------------- fonts -------------------------->	

<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">	

<!----------------------------- css ----------------->	
 	{% block css%}
	{% endblock %}
<link rel="stylesheet" href="{% static 'css/header.css' %}">
<link rel="stylesheet" href="{% static 'css/header-menu.css' %}">
<link rel="stylesheet" href="{% static 'css/generales.css' %}">

<!----------------------------- css ----------------->


<!----------------------------- js ----------------->
<script src="http://code.jquery.com/jquery-latest.js"></script>
{% block js %}
{% endblock %}
<script src="{% static 'js/header-menu.js' %}"></script>

<!----------------------------- js ----------------->



	<title>
        {% block title %}{% endblock %}
    </title>
	
</head>
<body>
	<header id="header">
		<div class="logo">
			<img loading="lazy" src="{% static 'img/Logo.png' %}" alt="">
		</div>
		<div class="header-info">
			<div class="buscador-h">
				<form action="">
					<div class="txt"><input type="text" placeholder="Buscar productos"></div>
					<div class="btn fas fa-search"><input class="" type="submit" value=""></div>
				</form>
			</div>

			<div id="header-menu" class="menu">
				<div class="menu_bar">
					<a href="#" class="bt-menu"><span class="fas fa-bars"></span></a>
				</div>
		 
				<nav>
					<ul>
						<li id="movil"><a href="#">Crea tu cuenta</a></li>
						<li id="movil"><a href="#">Ingresa</a></li>
						<li id="movil"><a href="#">Mis subastas</a></li>
	
						<li><a href="{% url 'Index' %}">Inicio</a></li>
						<li><a href="{% url 'Subasta' %}">Subasta tradicional</a></li>
						<li><a href="{% url 'Subasta_Inversa' %}">Subasta inversa</a></li>
	
					</ul>
				</nav>
			</div>
		</div>
		<div class="sb-link"> 
			<a href="{% url 'Entrada' %}"><div class="link">Crea tu cuenta</div></a>
			<a href="{% url 'Login' %}"><div class="link"><span class="fas fa-sign-in-alt"></span>Ingresa</div></a>
			<a href=""><div class="link">Mis subastas</div></a>
		</div>
		
	</header>
	
<!-- --------------------------------contenido cambiante ------------------------------------>
	{% block content %}
	{% endblock %}
<!-- --------------------------------contenido cambiante ------------------------------------>

</body>

</html>