{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'css/header.css' %}">


	<script src="http://code.jquery.com/jquery-latest.js"></script>
	<script src="{% static 'js/header.js' %}"></script>


    <title>Su-Basta</title>
</head>
<body>
    <header class="header">
		<div class="logo">¡Su-Basta!</div>
	</header>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	hola <br>
	
</body>
</html>